<!-- 5. Output the animalType string, pet boolean, and fierceness number to the page for all the pets. -->
{{#each animalType}}
  <p>Type: {{name}}</p>
  <p>Pet: ${{ true || false}}</p>
  <p>Fierceness: {{Fierceness}}</p>
  <hr>
{{/each}}